
body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #D6FFF6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #231651;
}

a:link {
  color: #F26419;
}
a:visited {
  color: #231651;
}

#symbols {
  font-size: 2rem;
}
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #33658A;
  color: #D6FFF6;
}

.white-section {
  background-color: #D6FFF6;
}

.emphasis-section {
  background-color: #F26419;
  color: #33658A;
}

/* Title Section */

#title {
  background-color: #33658A;
  color: #D6FFF6;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.prose {
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
}

/* Title Image */

.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

.puzzle-list {
  text-align: left;
}

/* Puzzle */
.large-image {
  width: 100%;
  align: middle;
}
.square-image {
  height: 400px;
  align: middle;
  text-align: center;

}
.clues {
  text-align: left;
  padding-bottom: 20px;
}

/* Answer */
.answer {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}